 

    @font-face {
    font-family: 'wordle';
    font-style: normal;
    font-weight: normal;
    src: local('Clear Sans Bold'), url('ClearSans-Bold.woff') format('woff');
    }
    
.body {
    background-color: #121213;
    font-family: wordle;
    font-size: 26px;


}





.box-ex{
  width: 390px;
  background-color: #121213;
  margin: 0 auto;
  padding: 5px;
    position:relative;
  z-index: 100;
  background-color: #121213;
}
.box{
  width: 70px;
  height: 70px;
  line-height: 135px;
  margin: 1.5px .5px;
  display: inline-block;
  background-color: #121213;   
  /* border-radius: 10px;
  border-style: solid */
  border: 1px solid gray;
  color: white;
  text-align: center;
}
.box span{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 35px;
}
.box-cols{
  margin: 0 auto !important;
}

#box {
  color: white;
}

.inputForm {
  position: relative;
  z-index: 1;
  top: 50vh;
  left: 80vh;
}
